body {
    font-family: sans-serif;
}

.link-header {
    text-decoration: none;
    color: darkblue;
    padding: 5px;
}

.link-nav{
    text-decoration: none;
}

.link-header:hover{
    background-color: cornflowerblue;
    padding: 5px;
}

nav {
    display:flex;
    justify-content: center;
    justify-content:  space-around;
}

.social:hover{
position: relative;
top: 10px;
}
